<h4>Add a grizzly story..</h4>
<div class="form">
  <form ng-submit="main.addStory()">
  
      <label for="title">Story Title</label>
      <input type="text" name="title" ng-model="main.story.title">

      <label for="author">Author</label>
      <input type="text" name="author" ng-model="main.story.author">

      <div ng-repeat="tile in main.story.tiles">
        <label for="text">Tile text</label>
        <textarea type="text" name="text" ng-model="tile.text"></textarea>

        <label for="image">And an image</label>
        <input type="text" name="image" ng-model="tile.image">

        <button ng-click="main.addTile($event)">Add tile</button>
      </div>
  
      <br>
      <input type="submit" value="Add Story">

  </form>
</div>