<h4>Add a grizzly story..</h4>
<div class="form">
  <form ng-submit="main.addStory()">
  
      <label for="title">Story Title</label>
      <input type="text" name="title" ng-model="main.newStory.title">

      <label for="author">Author</label>
      <input type="text" name="author" ng-model="main.newStory.author">

      <label for="paragraph">1st Paragraph (max 150 words)</label>
      <input type="text" name="paragraph" ng-model="main.newStory.tile.text">

      <label for="image">And an image</label>
      <input type="text" name="image" ng-model="main.newStory.tile.image">
  
      <br>
      <button>Add</button>

  </form>
</div>