<!-- <div ng-repeat="story in main.all">
  <div class="container" ng-repeat="tile in story.tiles">
    <div class="title" ng-show="$first">{{story.title}}</div>
    <div class="author" ng-show="$first">{{story.author}}</div>
    <tile tile="tile"></tile>
  </div>
</div> -->

<!-- <h3>hello</h3>
<h3>hello</h3>
<h3>hello</h3>
<h3>hello</h3> -->
<!-- <h1>{{main.story}}</h1> -->
<!-- <h1>{{main.story.title}}</h1>
<h3>{{main.story.author}}</h3> -->
<!-- <div class="container" ng-repeat="tile in main.story.tiles">
 --><!-- <p>{{tile}}</p> -->
<!-- <tile tile="tile"></tile> -->
<!-- </div> -->


<h3>hello</h3>
<h3>hello</h3>
<h3>hello</h3>
<h3>hello</h3>
<h1>{{main.story.title}}</h1>
<h3>{{main.story.author}}</h3>
<div class="container" ng-repeat="tile in main.story.tiles">
  <tile tile="tile"></tile>
</div>