html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Slab', serif; 
}

.navigation {
  padding: 0;
  margin: 0;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

    li {
      display:inline-block;
      padding: 5px 10px;

      a {
        color: #E1E1E1;
        text-decoration: none;

        &:hover {
          color: lighten(#E1E1E1, 20%);
        }
      }
    }
    .active {

      background-color: lighten(#333,20%);
    }
}

.main {
  margin-top: 10px;
}

p {
  font-size: 30px;
  // text-align: center;
  width: calc(100% - 50px);
  text-shadow: 2px 2px black;
  margin-left: 30px;
  margin-right: 30px;


}

.slide {
  background-attachment: fixed;
  height: 100%;
  position: relative;
  padding: 30px;
  background-color: #000000;
  color: #F2F2F2; 
  
  &[data-slide="1"] {
    height: 900px;
    p {
      position: absolute;
      bottom: 0;
      opacity: 0.8;
      width:93%;
    }
  }

  &[data-slide="2"] {
    height: 500px;
    opacity: 0.9;
  }

  &[data-slide="3"] {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    opacity: 0.92;
  }
}
.partial {
  width: 100%;
  height: 100%;
}

.home {
  background-color: #1a1a1a;
  color: white;
  height:800px;
  // background:linear-gradiant(#333333)
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 80px;
 
}
.ghost {
  font-size: 80px;
  margin-top: 0px;
  padding-top: 40px; 
  float:left;
  margin-left: 50px;

}

#ghost {
margin-top: -170px;
  width: 550px;
  height: 630px;
  margin-left: 430px;
  float:right;
  margin-right: 40px; 
}

.descrip {
  
}

.title, .author {
  position: relative;
  font-weight: bold;
  font-size: 100px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  text-shadow: 1px 1px #999999;
}



